<md-card>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1>Log in!</h1>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="email" formControlName="email" placeholder="E-mail" value="your@email.com">
       <md-error>Email is required</md-error>
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="password" formControlName="password" placeholder="Password" value="Password">
       <md-error>Password is required</md-error>
    </md-input-container>
    <div class="wrapper">
      <button type="submit" md-raised-button color="primary">Log in</button>
      <a routerLink="/auth/forgot_password" id="forgot-password">Forgot password?</a>
    </div>
  </form>
  <div class="wrapper">
      <p>Need an account?</p>
      <a routerLink="/auth/signup">Sign up now!</a>
    </div>
</md-card>
<!--   
  <div *ngIf="loginForm.value.email && loginForm.value.password">
      <p >Email: {{ loginForm.value.email | json }}</p>
      <p>Password: {{ loginForm.value.password | json }}</p>
  </div>  
-->