
.full-width {
  width: 100%;
}
md-card {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
h1 {
    margin-bottom: 30px;
}
md-input-container {
    padding: 10px;
}
#forgot-password:hover {
    border-bottom: 1px solid #999;
}
#forgot-password {
    color: #999;
    margin: 15px;
}
a {
    text-decoration: none;
    color: #4527a0;
    margin-left: 5px;
    font-weight: bold;
}
a:hover {
    border-bottom: 1px solid #4527a0;
    cursor: pointer;
}
.wrapper {
    display: inline-flex;
    margin-top: 20px;
    
}