<md-card>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <h1>Sign up!</h1>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="text" formControlName="userType" placeholder="User Type: Admin, User, Guest" value="Admin, User, Guest">
      <md-error>User type is required</md-error>
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="text" formControlName="firstName" placeholder="First Name" value="Jane">
      <md-error>Name is required</md-error>
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="text" formControlName="lastName" placeholder="Last Name" value="Doe">
      <md-error>Surname is required</md-error>
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="email" formControlName="email" placeholder="E-mail" value="your@email.com">
      <md-error>Email is required</md-error>
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="password" formControlName="password" placeholder="Password" value="Password">
      <md-error>Password is required</md-error>
    </md-input-container>
    <button type="submit" md-raised-button color="primary">Sign up</button>
    <div class="wrapper">
      <p>Already signed up?</p>
      <a routerLink="/auth/login">Log in</a>
    </div>
  </form>  
</md-card>
