<md-card>
  <form [formGroup]="forgotPasswordForm">
    <h1>Reset Your Password</h1>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="email" formControlName="email" placeholder="E-mail" value="your@email.com">
      <md-error>Email is required</md-error>
    </md-input-container>
    <button type="submit" md-raised-button color="primary">Reset password</button>
    <div class="wrapper">
      <p>Remembered password?</p>
      <a routerLink="/login">Log in</a>
    </div>
  </form>  
</md-card>