.full-width {
  width: 100%;
}
md-card {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
h1 {
    margin-bottom: 30px;
}
md-input-container {
    padding: 10px;
}
a {
    text-decoration: none;
    color: #4527a0;
    margin-left: 5px;
    font-weight: bold;
}
.wrapper {
    display: inline-flex;
    margin-top: 20px;
    justify-content: space-between;
}