<md-card>
    <h1>Signup page</h1>
    <md-input-container color="primary" class="full-width">
      <input mdInput placeholder="Name" value="Name">
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput placeholder="Surname" value="Surname">
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput placeholder="E-mail" value="E-mail">
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput placeholder="Password" value="Password">
    </md-input-container>
    <button md-raised-button color="primary">Sign up</button>
</md-card>
