<md-card>
    <h1>Sign up!</h1>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="text" placeholder="Name" value="Jane">
      <md-error>Name is required</md-error>
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="text" placeholder="Surname" value="Doe">
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="email" placeholder="E-mail" value="your@email.com">
    </md-input-container>
    <md-input-container color="primary" class="full-width">
      <input mdInput type="password" placeholder="Password" value="Password">
    </md-input-container>
    <button md-raised-button color="primary">Sign up</button>
    <div class="wrapper">
      <p>Already signed up?</p>
      <a routerLink="/login">Log in</a>
    </div>
</md-card>
